/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    min-height: 100vh;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: inherit;
}


/* utlis */

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;

}

/* debug */

.debug{
    min-height: 80px;
    background-color: rgb(216, 163, 98);
    padding: 2rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
}



.wrapper{
    
    background-color: aquamarine;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.box-container{
    width: 750px;
    height: 750px;

    border: solid 3px rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.box{
    width: calc(100% / 10 );
    height: calc(100% / 10 );

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 3px rgb(0, 0, 0);

    cursor: pointer;
}

.box-81{
    width: calc(100% / 9 );
    height: calc(100% / 9 );

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 3px rgb(0, 0, 0);

    cursor: pointer;
}

.box-49{
    width: calc(100% / 7 );
    height: calc(100% / 7 );

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 3px rgb(0, 0, 0);

    cursor: pointer;
}

.box.clicked{
    background-color: rgb(127, 223, 255);
}

.box.even {
    background-color: rgb(212, 255, 127);
}

.box.odd{
    background-color: pink;
}

.barra-livello{
    width: 20%;
    margin-left: auto;
}